.column-layout {
    display: grid;
    // gap: 16px;
    // margin: 16px 0;

    .simple-title {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        // margin-bottom: 16px;
    }

    .box {
        padding: 16px;
        box-sizing: border-box;

        &.left {
            background-color: #f0f0f0;
        }

        &.center-left {
            background-color: #d0d0d0;
        }

        &.center-right {
            background-color: #c0c0c0;
        }

        &.right {
            background-color: #e0e0e0;

        }
    }
}

.two-column {
    grid-template-columns: 1fr 1fr;

    .simple-title {
        grid-column: span 2;
    }


}

@media screen and (min-width: 768px) {
    .two-column.reorder {
        .box {
            &:nth-child(1) {
                order: 2;
            }

            &:nth-child(2) {
                order: 1;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .two-column {
        grid-template-columns: 1fr;

        .simple-title {
            grid-column: span 1;
        }
    }
}

.three-column {
    grid-template-columns: 1fr 1fr 1fr;

    .simple-title {
        grid-column: span 3;
    }

    .box.right {
        display: none;
    }
}

@media (max-width: 1200px) {
    .three-column {
        grid-template-columns: 1fr 1fr;

        .simple-title {
            grid-column: span 2;
        }

        .box.right {
            display: block;
        }
    }
}

@media (max-width: 768px) {
    .three-column {
        grid-template-columns: 1fr;

        .simple-title {
            grid-column: span 1;
        }

        .box.right {
            display: none;
        }
    }
}