@use "/src/sass/global/variables" as var;

.header {
    z-index: 1000000;
    position: fixed;
    width: 100%;

    .search {
        display: flex;
        justify-content: center;
        height: 40px;
        position: relative;

        .algolia {
            border-radius: var.$border-radius;
            width: 90%;

            .searchBox {
                background-color: transparent;

                box-shadow: none;
                border-radius: none;


            }

            >div {
                box-shadow: 0px -20px 0px 0px #fff;
                border-radius: var.$border-radius;
            }
        }
    }
}


.headerUp {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    height: 70px;
    padding: 5px 10px;

    .logo {
        display: flex;
        justify-content: flex-start;

        a {
            display: flex;
            width: 180px;

            svg {
                color: var.$color-secondary;
            }


        }


    }



    .user {
        display: flex;
        justify-content: flex-end;

        .sign-in {
            li {
                padding: 0;
                margin: 0;

                a {
                    color: #fff;
                    padding: 5px 20px;
                    border: 1px solid #fff;
                    border-radius: var.$border-radius;
                    height: 40px;

                    display: flex;
                    align-items: center;
                    transition: var.$transition;
                    cursor: pointer;

                    &:hover {
                        background-color: rgba(var.$color-secondary, 1);
                        color: #fff;

                    }

                    &:focus {
                        background-color: rgba(var.$color-secondary, 1);
                        color: #fff;
                        transform: scale(0.9);
                    }

                    .container-icono {
                        padding: 0;
                        margin: 0;
                        margin-right: 7px;


                        .icon {
                            color: var.$color-tertiary;
                        }
                    }

                    label {
                        cursor: pointer;
                    }
                }
            }
        }

        .sign-login {
            nav {
                ul {
                    li {
                        a {
                            .container-icono {
                                .icon {
                                    svg {
                                        font-size: 24px;
                                        transition: var.$transition;
                                        color: #fff;

                                        &:hover {
                                            color: var.$color-secondary;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}