.header {
    z-index: 1000000;

    * {
        transition: $transition;
    }
}

.headerUp {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    height: 70px;
    padding: 5px 10px;

    .logo {
        display: flex;
        justify-content: flex-start;

        a {
            display: flex;
            width: 180px;

            svg {
                color: $color-secondary;
            }
        }
    }

    .search {
        display: flex;
        justify-content: center;

        .algolia {
            border-radius: $border-radius;
            width: 90%;

            .searchBox {
                background-color: transparent;

                box-shadow: none;
                border-radius: none;


            }

            >div {
                box-shadow: 0px -20px 0px 0px #fff;
                border-radius: $border-radius;
            }
        }
    }

    .user {
        display: flex;
        justify-content: flex-end;

        .sign-up {
            li {
                padding: 0;
                margin: 0;

                a {
                    color: #fff;
                    padding: 5px 20px;
                    border: 1px solid #fff;
                    border-radius: $border-radius;
                    height: 40px;

                    display: flex;
                    align-items: center;

                    cursor: pointer;

                    &:hover {
                        background-color: rgba($color-secondary, 1);
                        color: #fff;
                    }

                    &:focus {
                        background-color: rgba($color-secondary, 1);
                        color: #fff;
                        transform: scale(0.9);
                    }

                    .container-icono {
                        padding: 0;
                        margin: 0;
                        margin-right: 7px;


                        .icon {
                            color: $color-tertiary;
                        }
                    }

                    label {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

/* asfdasdf */
.headerDown {
    display: flex;
    justify-content: center;

    nav {
        ul {
            li {
                cursor: pointer;

                a {
                    .container-icono {
                        margin: 0 5px 0 25px;


                        .icon {

                            color: #fff;
                        }
                    }

                    label {
                        color: #fff;
                    }
                }
            }
        }
    }
}

/* sdafasdf */

.navToolTip {
    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-track {
        background: #fff;
    }

    ::-webkit-scrollbar-thumb {
        background: #eee;
        border-radius: 5px;
    }

    >ul {
        width: 100%;
        display: flex;
        justify-content: center;

        li {
            margin: 0 10px;
        }
    }

    ul {

        li {

            .container-menu-tooltip {
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;


                //titulo
                span {

                    h6 {
                        font-size: 14px;

                        label {
                            cursor: pointer;
                        }

                        .icon {
                            position: relative;
                            top: 3px;
                            margin-left: 2px;
                        }
                    }
                }

                //tooltip
                >div {
                    // @include border(blue);

                    width: 100%;
                    transform: translate(0px,100px) !important;
                    background-color: #fff;
                    padding: 10px 20px;
                    max-width: 100%;

                    .tooltip {
                        background-color: transparent;
                        color: #000;
                        max-width: 100% !important;
                        width: 100%;
                        height: 410px;
                        overflow: auto;

                        .tippy-content {
                            padding: 0;
                            width: 100%;
                            display: flex;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }

    // contendido
    .tippy-content {



        // contenedor del contenido
        &>div {
            width: 100%;
            display: flex;
            justify-content: center;
            cursor: initial;

            .containerCategoria {
                display: grid;
                grid-template-columns: 1fr 1fr;
                justify-items: center;
                width: 100%;
                max-width: 1600px;
                justify-content: center;
                gap: 50px;

                overflow-x: hidden;

                .containerLeft {
                    position: relative;
                    width: 400px;
                    height: 400px;


                    >div {
                        position: fixed !important;
                    }
                }

                .categorias {
                    // @include border(blue);
                    display: grid;
                    gap: 20px 40px;

                    grid-template-columns: 1fr 1fr;

                    .subCategoria {


                        h5 {
                            font-size: 18px;
                            margin: 0 0 20px 10px;
                            //text-transform: uppercase;
                        }

                        nav {
                            ul {
                                display: grid;
                                /* grid-auto-columns: auto; */
                                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                                grid-gap: 10px;
                                gap: 10px;


                                li {
                                    margin: 0 10px;
                                    display: flex;
                                    align-items: center;
                                    flex-direction: column;

                                    &:hover {
                                        cursor: pointer;

                                        .icon,
                                        .responsiveImage {
                                            transform: scale(1.1);
                                            box-shadow: 0 0 4px 0px #1c1c1c;
                                        }
                                    }

                                    >.containerCategori {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;

                                    }

                                    >.containerCategori .icon {
                                        font-size: 30px;
                                    }

                                    >.containerCategori .icon,
                                    >.responsiveImage {
                                        border-radius: 50%;
                                        border: 3px solid #ffac32;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        width: 80px;
                                        height: 80px;

                                        >.responsiveImage {
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                        }



                                    }

                                    h6 {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1220px) and (max-width: 1630px) {

    // @include border();
    .navToolTip .tippy-content>div .containerCategoria .categorias .subCategoria h5 {
        margin-bottom: 10px;
    }

    .navToolTip .tippy-content>div .containerCategoria .categorias .subCategoria nav ul li>.containerCategori .icon,
    .navToolTip .tippy-content>div .containerCategoria .categorias .subCategoria nav ul li>.responsiveImage {
        width: 70px !important;
        height: 70px !important;
    }

}

@media (min-width: 1220px) and (max-width: 1600px) {

    // @include border();

    .navToolTip .tippy-content>div .containerCategoria .categorias .subCategoria nav ul li>.containerCategori .icon,
    .navToolTip .tippy-content>div .containerCategoria .categorias .subCategoria nav ul li>.responsiveImage {
        width: 70px !important;
        height: 70px !important;
    }





}

@media (min-width: 1300px) and (max-width: 1500px) {

    .navToolTip .tippy-content>div .containerCategoria {
        gap: 30px;
    }

    .navToolTip .tippy-content>div .containerCategoria .categorias {
        gap: 15px 25px;
    }

    .navToolTip .tippy-content>div .containerCategoria .categorias .subCategoria nav ul li>.containerCategori .icon,
    .navToolTip .tippy-content>div .containerCategoria .categorias .subCategoria nav ul li>.responsiveImage {
        width: 60px !important;
        height: 60px !important;
    }

    .navToolTip ul li .container-menu-tooltip>div {
        padding: 10px 0px;
    }
}

@media (min-width: 1220px) and (max-width: 1500px) {

    // @include border();
    .navToolTip .tippy-content>div .containerCategoria .categorias .subCategoria nav ul li>.containerCategori .icon,
    .navToolTip .tippy-content>div .containerCategoria .categorias .subCategoria nav ul li>.responsiveImage {
        width: 60px !important;
        height: 60px !important;
    }

}

@media (min-width: 1200px) and (max-width: 1300px) {
    // @include border();


    .navToolTip ul li .container-menu-tooltip>div {
        padding: 7px 10px;
    }

    .navToolTip .tippy-content>div .containerCategoria {
        gap: 30px;
    }

    .navToolTip .tippy-content>div .containerCategoria .categorias {
        gap: 15px 25px;
    }

    .navToolTip .tippy-content>div .containerCategoria .categorias .subCategoria nav ul li>.containerCategori .icon,
    .navToolTip .tippy-content>div .containerCategoria .categorias .subCategoria nav ul li>.responsiveImage {
        width: 50px !important;
        height: 50px !important;
    }

    .navToolTip .tippy-content>div .containerCategoria .containerLeft {


        display: flex;
        justify-content: center;
        align-items: center;


    }

    .navToolTip .tippy-content>div .containerCategoria .categorias .subCategoria nav ul li h6 {
        font-size: 12px;
    }

    .navToolTip .tippy-content>div .containerCategoria .categorias .subCategoria nav ul {
        gap: 5px;
    }
}

@media screen and (max-width: 1200px) {

    .navToolTip .tippy-content>div .containerCategoria {
        max-width: 1000px;
    }

    .navToolTip .tippy-content>div .containerCategoria .categorias {
        grid-template-columns: 1fr;

    }
}