@import "../styles/init/style.scss";

/* btns */
@import "../styles/module/btns/btnFreya.module.scss";
@import "../styles/module/btns/btnLoki.module.scss";
@import "../styles/module/btns/btnThor.module.scss";

@import "../styles/module/btns/btnText.module.scss";
@import "../styles/module/btns/btnNormalBasic.module.scss";
@import "../styles/module/btns/btnSubmitBasic.module.scss";
@import "../styles/module/btns/btnExpancion.module.scss";
@import "../styles/module/btns/btnRowCircle.module.scss";

@import "../styles/module/form/checkboxBasic.module.scss";
@import "../styles/module/form/input.module.scss";

@import "../styles/module/search/algolia.module.scss";

@import "demo.scss";

// @import "../styles/module/headerOneElementCenter.module.scss";

// @import "../styles/module/simpleFooter.module.scss";



// @import "../assembled/formLoki/sass/formLoki.scss";

// *{
//     border: 1px solid red;
// }

code {
    background-color: #9a00ff
}

body {
    background-color: #f5e6ed;

}

a {
    color: #000;
    display: flex;
}