@keyframes border-gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.btn-submit-basic {
  display: flex;
  justify-content: center;
  height: 42px;
  position: relative;
  width: 100%;
}
.btn-submit-basic,
.btn-submit-basic * {
  transition: 500ms ease all;
}
.btn-submit-basic button {
  background-color: transparent;
  border: 1px solid rgba(28, 28, 28, 0.5);
  border-radius: 6px;
  color: #ffac32;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  height: 100%;
  max-width: calc(333px / 1.5);
  outline: none;
  position: relative;
  width: 100%;
}
.btn-submit-basic button:active {
  background-color: rgba(255, 172, 50, 0.7);
  transform: scale(0.9);
  color: #fff;
}
.btn-submit-basic button:disabled {
  background-color: rgba(255, 172, 50, 0.3) !important;
  color: #fff;
  cursor: not-allowed;
}
.btn-submit-basic button:focus {
  background-color: rgba(255, 172, 50, 0.7);
  color: #fff;
}
.btn-submit-basic button:hover {
  background-color: rgba(255, 172, 50, 0.9);
  color: #fff;
}
