.btnLoki {


  span {

    background-color: $color-quaternary;


    &:nth-last-of-type(1) {}

    &:nth-last-of-type(3) {}
  }

  &.active {
    span {


      &:nth-last-of-type(1) {

        background-color: $color-quaternary;
      }

      &:nth-last-of-type(3) {
        background-color: $color-quaternary;
      }

      &:nth-last-of-type(2) {
        background-color: $color-quaternary;
      }
    }
  }
}

.btnMenu {
  &.active {
    &:before {}
  }
}

@keyframes circulo {
  0% {
    border-color: transparent;
  }

  25% {
    border-color: transparent $color-secondary transparent transparent;
  }

  50% {
    border-color: transparent $color-secondary $color-secondary transparent;
  }

  75% {
    border-color: transparent $color-secondary $color-secondary $color-secondary;
  }

  100% {
    border-color: $color-secondary;
  }
}