@use "/src/sass/global/variables" as var;

.clean.containerAll {
    display: grid;
    min-height: 100vh;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;

    >header {
        background-color: var.$color-quaternary;
        // border-bottom: 1px solid var.$color-secondary;
        color: var.$text-color-white;
    }

    >main {
        background-color: var.$color-tertiary;
    }

    >footer {
        background-color: var.$color-quaternary;
        // border-top: 1px solid var.$color-secondary;
        color: var.$text-color-white;
    }
}