@use "../../../styles/init/global/variables" as var;


.algoliaSearch {
    @include var.colorScheme();
    position: relative;
    max-width: 600px;
    height: 40px;

    background-color: #fff;


    input {
        border: none;
        outline: none;
        background-color: transparent;
    }

    h3 {
        font-size: 14px;

    }

    .algoliaBox {
        display: flex;
        align-items: center;
        background-color: #fff;

        &.title {
            background-color: #eee;
        }

        &:hover {
            background-color: #eee;
        }


        .boxOne {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 42px;
            height: 30px;
            color: #aaa;
        }

        .boxTwo {
            width: 100%;
            height: 36px;
            display: flex;
            align-items: center;
        }
    }
}