@use "/src/sass/global/variables" as var;
@use "/src/sass/global/mixin" as fn;

.personal {
    .container-input {

        height: 40px;


        .select {
            @include fn.width(200px);
            height: 40px;

            .css-b62m3t-container {
                @include fn.width(200px);
                height: 40px;
                background-color: transparent;
            }
        }
    }




}