@import "../../../../css/style.scss";


.clean.containerAll.dashboard {
    display: grid;
    min-height: 100vh;
    min-height: 100dvh;
    max-height: 100vh;
    max-height: 100dvh;
    overflow: hidden;
    grid-template-rows: auto 1fr auto;


    background-color: $color-tertiary;
    background-color: #f6f9ff;

    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    background-attachment: fixed;


    >header {
        background-color: $colorHederFooter;
        // border-bottom: 1px solid $color-secondary;
        color: $text-color-white;
        position: sticky;
        top: 0;
        z-index: 1000;
    }



    .masterMain {
        display: grid;

        transition: all 0.5s ease;
        overflow: hidden;
        grid-template-rows: auto 1fr auto;
        margin-left: 240px;

        &.active {
            margin-left: 0px;
        }

        background-image: url(/img/logo-unerg.webp);
        background-color: #f6f9ff;
        background-size: contain;
        background-position: 50%;
        background-repeat: no-repeat;
        background-blend-mode: soft-light;

        >main {
            min-height: calc(100vh - 120px);
            min-height: calc(100vh - 120px);
            max-height: calc(100vh - 120px);
            max-height: calc(100vh - 120px);



            // background-attachment: fixed;
            overflow-y: auto;

        }

        >footer {
            background-color: $colorHederFooter;
            // border-top: 1px solid $color-secondary;
            color: $text-color-white;
            background-color: #fff;
        }
    }

}

@media screen and (max-width: 800px) {
    .clean.containerAll.dashboard .masterMain>main {
        min-height: calc(100vh - 120px);
        min-height: calc(100vh - 120px);
        max-height: calc(100vh - 120px);
        max-height: calc(100vh - 120px);
    }
}

@include min-width(1200px) {
    .container-aside.active {
        left: 0;
    }
}

@include between(800px, 1200px) {
    .container-aside {
        left: -100% !important;
    }

    .container-aside.active {
        left: 0% !important;
    }

    .clean.containerAll.dashboard .masterMain {
        margin-left: 0px;
    }

    .clean.containerAll.dashboard .masterMain.active {
        // margin-left: 240px;
    }
}

@include max-width(800px) {
    .container-aside {
        left: -100% !important;
    }


    .container-aside.active {
        left: 0% !important;
    }

    .clean.containerAll.dashboard .masterMain {
        margin-left: 0px;
    }
}

@include min-width(1800px) {
    .aside-hidden-btn {
        display: none;
    }
}