.reset.left .title {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  justify-items: center;
  align-items: center;
  justify-content: center;
  position: relative;
  align-content: center;
  margin-top: 10px;
  margin-bottom: 35px;
  width: 100%;
}
.reset.left .title .container-row-circle {
  width: 20px;
  height: 45px;
}
.reset.left .title p {
  color: #ffac32;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}
