@use "/src/sass/style.scss";

code {
    background-color: #9a00ff
}

body {
    background-color: #f5e6ed;

}

a {
    color: #000;
    display: flex;
}


.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}