.btn-sesion {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 40px;
  width: 300px;
  display: flex;
  justify-content: space-around;
}
.btn-sesion button {
  background-color: transparent;
  border: none;
  color: #ffac32;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  outline: none;
  transition: 500ms all ease;
}
.btn-sesion button:hover {
  color: #442897;
}
.btn-sesion button:active {
  transform: scale(0.9);
}
.btn-sesion button span {
  text-decoration: none;
}
.btn-sesion .span-sesion {
  cursor: default;
  color: #ffac32;
}
