@use "/src/sass/global/mixin" as fn;

.swiper-button-next,
.swiper-button-prev {
    background-color: transparent;
    color: #000;

    border-radius: 50%;
    cursor: pointer;

    opacity: 0;
    transition: 600ms all ease;
    //box-shadow: 0 0 0 3px #fff, inset 0 0 0 20px #fff;

    @include fn.square(35px);
    backdrop-filter: blur(5px);

    .icon {
        font-size: 25px;
        border-style: dashed solid;
        border-radius: 50%;
    }

    &::after {
        display: none;
    }

    &.fade-in {
        opacity: 1;

        &.left {
            transition: 500ms left linear;
            left: 25px;
        }

        &.right {
            transition: 500ms right linear;
            right: 25px;
        }


    }


}

.swiper-button-next {
    right: 10px;
}

.swiper-button-prev {
    left: 10px;
}

.container-slider {
    background-color: #faf8f2;
    padding: 0 10px;
    display: flex;
    justify-content: center;



    h2,
    h3,
    a {
        font-family: "Albert Sans", sans-serif;
        font-weight: 400;
    }

    .internal-container {
        max-width: 1400px;
        width: 100%;
    }

    .header-slider {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        margin: 0 40px;

        a {
            border-bottom: 1px solid #000;

            label {
                cursor: pointer;
            }
        }

    }

    .container-info {
        .swiper-slide {
            //width: 360px !important;

        }

        .swiper-slide {
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
        }

        .conainer-single-slider {
            @include fn.square(300px);
            overflow: hidden;

            display: flex;
            align-items: center;
            flex-direction: column;

            img {
                @include fn.square(250px);
                border-radius: 50%;


            }

            h3 {
                margin-top: 20px;
            }



        }
    }
}